body, h1, h2, p, ul, li, a {
	margin: 0;
	padding: 0;
}

body {
	color: #222;
	font-family: 'Nunito', sans-serif;
}

ul {
	list-style-type: '';
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

* {
	box-sizing: border-box;
}


/* superinfo */

.superinfo-bg {
	color: #fff;
	background-color: #122ab2;
}

.superinfo {
	margin: 0 auto;
	max-width: 960px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 10px;
}

.superinfo p, .superinfo a {
	margin: 0 10px 10px 10px;
}

.superinfo a {
	color: #fff;
}

/* menu */

.menu-bg {
	background-color: #2c70ff;
}

.menu {
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	padding: 15px 0;
	max-width: 960px;
	align-items: center;
	justify-content: space-between;
}

.menu a {
	color: #fff;
}

.menu-logo a {
	margin: 0 10px;
	font-weight: bold;
	font-size: 2.25em;
}

.menu-nav ul {
	display: flex;
	flex-wrap: wrap;
}

.menu-nav a {
	padding: 10px;
	display: block;
	font-size: 1.25em;
}

.menu-nav a:hover {
	color: #122ab2;
}

/* introdução */

.introducao {
	margin: 0 auto;
	line-height: 1;
	font-size: 3em;
	max-width: 960px;
	padding: 60px 10px;
}

/* sobre */

.sobre {
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	padding: 60px 0;
	max-width: 960px;
	border-top: 2px solid #2c70ff;
	border-bottom: 2px solid #2c70ff;
}

.sobre-info {
	margin: 0 10px;
	flex: 2 1 300px;
}

.sobre-info h1 {
	font-size: 3em;
	margin-bottom: .5em;
}

.sobre-info p {
	color: #7c7c7c;
	line-height: 1.4;
	font-size: 1.25em;
	margin-bottom: 1em;
}

.sobre-img {
	margin: 0 10px;
	flex: 1 1 160px;
}


/* produtos */

.produtos {
	margin: 0 auto;
	max-width: 960px;
}

.produtos h1 {
	font-size: 3em;
	margin: 0 10px 60px 10px;
}

.produtos-container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.produtos-item {
	margin: 10px;
	flex: 1 1 175px;
}

.produtos-item h2 {
	font-size: 3em;
	color: #a4a4a4;
	padding: 60px 20px;
	background-color: #f7f7f7;
}

.purple {
	border-top: 8px solid #ae81ff;
}

.pink {
	border-top: 8px solid #f9265e;
}

.blue {
	border-top: 8px solid #66d9eb;
}


/* preco */

.preco {
	display: flex;
	padding: 60px;
	flex-wrap: wrap;
	align-items: flex-end;
	background-color: #f7f7f7;
}

.preco-item {
	margin: 10px;
	padding: 20px;
	flex: 1 1 260px;
	border: 4px solid #fff;
}

.preco-item h2 {
	font-size: 3em;
	margin-top: 20px;
	color: #a4a4a4;
	text-align: center;
}

.preco-item span {
	display: block;
	font-size: 3em;
	max-width: 300px;
	margin: 20px auto;
	font-weight: bold;
	text-align: center;
	padding: 10px 0 5px 0;
	border-top: 4px solid #fff;
	border-bottom: 4px solid #fff;
}

.preco-item sup {
	font-size: 1.5rem;
}

.preco-item ul {
	color: #7c7c7c;
	max-width: 300px;
	margin: 20px auto;
	font-size: 1.25em;
	font-style: italic;
}

.preco-item li {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	justify-content: space-between;
}

.preco-item li::after {
	width: 6px;
	height: 6px;
	content: '';
	display: block;
	border-radius: 50%;
	background-color: #2c70ff;
}

.preco-item a {
	display: block;
	color: #222222;
	padding: 15px 0;
	max-width: 300px;
	margin: 20px auto;
	border: 4px solid;
	font-weight: bold;
	font-size: 2.25em;
	text-align: center;
	text-transform: uppercase;
}

@media screen and (max-width: 800px) {
	.preco {
		padding-left: 10px;
		padding-right: 10px;
	}

	.preco .preco-item:nth-child(3) {
		order: -2;
	}

	.preco .preco-item:nth-child(2) {
		order: -1;
	}
}


/* qualidade */

.qualidade {
	display: flex;
	flex-wrap: wrap;
	max-width: 960px;
	margin: 60px auto;
}

.qualidade-item {
	flex: 1 1 300px;
	margin: 20px 10px;
}

.qualidade-item h2 {
	color: #a4a4a4;
	font-size: 2.25em;
	margin-bottom: 20px;
}

.qualidade-item h2::before {
	width: 8px;
	content: '';
	height: 30px;
	margin-right: 10px;
	display: inline-block;
}

.qualidade-item:nth-child(3n+1) h2::before {
	background-color: #ae81ff;
}

.qualidade-item:nth-child(3n+2) h2::before {
	background-color: #f9265e;
}

.qualidade-item:nth-child(3n+3) h2::before {
	background-color: #66d9eb;
}

.qualidade-item p {
	color: #7c7c7c;
	line-height: 1.4;
	font-size: 1.25em;
}